<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1193.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>2292.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BaekJoon_C++.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>N1002.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>N1011.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>N1018.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>N10250.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>N10870.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>N10872.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>N10989.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>N11729.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>N1181.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>N1316.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>N1427.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>N1436.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>N15649.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>N15650.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>N15652.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>N1712.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>N1929.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>N1941.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>N1978.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>N2108.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>N2231.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>N2292.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>N2447.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>N2580.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>N2775.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>N2798.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>N2839.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>N2869.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>N3053.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>N4153.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>N4948.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>N7568.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>N9020.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>N9663.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A758DEF824C5305400F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF0324C67CA200F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF0E24C6834900F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF1924C683B100F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF3A24C68CD700F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF4524C6CBA000F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF5024C7F58000F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A758DF5B24C81F0800F8A0CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A769414F24C0277A0009F19E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A769415A24C02C180009F19E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A769416524C03F720009F19E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B342C424B767440087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B342D224B768100087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B342DD24B83AE30087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B342E824B8481A0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3430924B8562B0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3431824B85A7D0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3432324BC27070087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3432E24BC2E9C0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3433924BC38750087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3434424BD3D9F0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3434F24BD502B0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3435A24BD95AF0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3436524BE100C0087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3437024BE99F20087B4FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B3977724C8247F0074E3C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B5291A24BED354006CADD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B5292524BEF545006CADD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B5293024BFE4BD006CADD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B5293B24BFE7A1006CADD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7B5294624BFEF37006CADD5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C5F58C24CECAB20061C5A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C5F59724CFB21A0061C5A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C5F5A224CFC5AC0061C5A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C5F5AD24CFFBE60061C5A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C5F5C524D006AC0061C5A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7C5F5D024D007840061C5A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7DF8B3C24CE9557004C1C06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7DF8B5024CE9653004C1C06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
